In [34]:
#Import Splinter and BeautifulSoup
from splinter import Browser
from bs4 import BeautifulSoup as soup
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

In [21]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 92.0.4515
Get LATEST driver version for 92.0.4515
Get LATEST driver version for 92.0.4515
Trying to download new driver from https://chromedriver.storage.googleapis.com/92.0.4515.107/chromedriver_win32.zip
Driver has been saved in cache [C:\Users\Hana\.wdm\drivers\chromedriver\win32\92.0.4515.107]

In [22]:
# Visit the mars nasa news site
url = 'https://redplanetscience.com'
browser.visit(url)
#Optional delay for oading the page
browser.is_element_present_by_css('div.list_text', wait_time=1)

True

In [23]:
#Setting the HTML parser
html = browser.html
news_soup = soup(html, 'html.parser')
slide_elem = news_soup.select_one('div.list_text')

In [24]:
slide_elem.find('div', class_='content_title')

In [25]:
#Use the parent element to ind the first 'a' tag and save it as 'news_title'
news_title = slide_elem.find('div', class_='content_title').get_text()
news_title

"Screening Soon: 'The Pathfinders' Trains Lens on Mars"

In [27]:
#Use the parent element to find the paragraph text
news_p = slide_elem.find('div', class_='article_teaser_body').get_text()
news_p

'With the Mars 2020 mission ramping up, the documentary — the first of four about past JPL missions to the Red Planet to be shown at Caltech — tells a gripping backstory.'

### Featured Images

In [28]:
#Visit URL
url = 'https://spaceimages-mars.com'
browser.visit(url)

In [30]:
#Find and click the full image button
full_image_elem = browser.find_by_tag('button')[1]
full_image_elem.click()

In [31]:
#Parse the result html with soup
html = browser.html
img_soup = soup(html, 'html.parser')

In [32]:
#FInd the relative image url
image_url_rel = img_soup.find('img', class_='fancybox-image').get('src')
image_url_rel

'image/featured/mars1.jpg'

In [33]:
#Use the base URL to create an absolute URL
img_url = f'https://spaceimages-mars.com/{image_url_rel}'
img_url

'https://spaceimages-mars.com/image/featured/mars1.jpg'

In [35]:
#Extract the whole table for the galaxyfacts URL
df = pd.read_html('https://galaxyfacts-mars.com')[0]
df.columns =['describe', 'Mars','Earth']
df.set_index('describe', inplace=True)
df

                                    Mars            Earth
describe
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [36]:
#converting our dataframe into a html table
df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n    <tr>\n      <th>describe</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Mars - Earth Comparison</th>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [37]:
#leave the browser 
browser.quit()